#header {
    background: url(../../../assets/images/background.png);
}

.white {
    color: white;
}

#botaoSair {
    background: white;
    height: 30px;
}

.sair {
    border-radius: 20px;
    height: 35px !important;
    background: #2927a2 !important;
    font-size: 10px !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}